html {
    font-family: Arial, Helvetica;
    font-size: 12px;
}

body
{
    margin: 0;
    background: #747274;
}

div.container
{
    min-height: calc(100vh - 140px);
    margin: 50px;
    background: #b5aa9d;
    padding: 20px;
    border-radius: 10px;
}

button
{
    font-size: 18px;
    padding: 10px 20px;
}

div.flash
{
    border: 1px solid #4e5166;
    background: #b9b7a7;
    color: #4e5166;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    margin-bottom: 20px;
}

div#form-receive-result
{
    display: none;
    border: 1px solid #4e5166;
    background: #b9b7a7;
    color: #4e5166;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    margin-top: 20px;
}

div.menu
{
    padding: 20px 0;
}

div.menu a
{
    color: #4e5166;
    font-weight: bold;
    font-style: 13px;
}
